# Read this first 

* each comment and text line added here is important and relevant , dont skim through just the code
* if the comment asks you to revisit some concepts/modules , do so
* this is not complete code on its own , you need to fill in your own code to eventually start building a model

In [56]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [57]:
datafile_train=r"C:\Users\Nidhi\Edvacer_Data Science\Projects\Data/Property_train.csv"
datafile_test=r"C:\Users\Nidhi\Edvacer_Data Science\Projects\Data/Property_test_share.csv"
bd_train=pd.read_csv(datafile_train)
bd_test=pd.read_csv(datafile_test)

In [58]:
datafile_train

'C:\\Users\\Nidhi\\Edvacer_Data Science\\Projects\\Data/Property_train.csv'

In [75]:
bd_train['State']

0        MD
1        OK
2        SC
3        NC
4        SC
         ..
62030    CA
62031    TN
62032    IN
62033    TX
62034    OK
Name: State, Length: 62035, dtype: object

In [76]:
bd_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62035 entries, 0 to 62034
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Junk                   62035 non-null  int64
 1   InteriorsStyle         62035 non-null  object
 2   PriceIndex8            62035 non-null  object
 3   ListDate               62035 non-null  object
 4   Material               62035 non-null  object
 5   PriceIndex9            62035 non-null  int64
 6   Agency                 62035 non-null  object
 7   AreaIncomeType         62035 non-null  object
 8   EnvRating              62035 non-null  object
 9   PriceIndex7            62035 non-null  object
 10  ExpeditedListing       62035 non-null  int64
 11  PriceIndex4            62035 non-null  object
 12  PriceIndex1            62035 non-null  object
 13  PriceIndex6            62035 non-null  object
 14  PRIMEUNIT              62035 non-null  object
 15  Channel                62035 non-null  object
 16  Zip                    62035 non-null  int64
 17  InsurancePremiumIndex  62035 non-null  int64
 18  PlotType               62035 non-null  object
 19  Architecture           62035 non-null  object
 20  PriceIndex3            62035 non-null  object
 21  Region                 62035 non-null  object
 22  PriceIndex5            62035 non-null  object
 23  SubModel               62035 non-null  object
 24  Facade                 62035 non-null  object
 25  State                  62035 non-null  object
 26  NormalisedPopulation   62035 non-null  int64
 27  BuildYear              62035 non-null  int64
 28  RegionType             62035 non-null  object
 29  PropertyAge            62035 non-null  int64
 30  PriceIndex2            62035 non-null  object
dtypes: int64(8), object(23)
memory usage: 14.7+ MB

In [77]:
#bd_train['PriceIndex1'].var()

In [ ]:
#median_property_age_by_state = bd_train.groupby('State')['PropertyAge'].median()

In [ ]:
#state_with_highest_median_age = median_property_age_by_state.idxmax()
#print(state_with_highest_median_age)

In [ ]:
#data_area_a = bd_train[bd_train['AreaIncomeType'] == 'A']

In [ ]:
#data_area_a

In [ ]:
#listings_by_category = data_area_a.groupby('Agency').size()

In [ ]:
#category_with_highest_listings = listings_by_category.idxmax()
#print(category_with_highest_listings)

In [ ]:
#bd_train['ListDate'] = pd.to_datetime(bd_train['ListDate'])  # Convert to datetime format if not already done
#bd_train['ListMonth'] = bd_train['ListDate'].dt.month

In [ ]:
#bd_train['ListMonth']

In [ ]:
#bd_train['EnvRating']=='missing'

In [ ]:
#listings_by_month = bd_train.groupby('ListMonth').size()

In [ ]:
#month_with_highest_listings = listings_by_month.idxmax()
#print(month_with_highest_listings)

In [ ]:
#percentage_missing = (62035 / 62035) * 100
#rounded_percentage = round(percentage_missing)

In [ ]:
#rounded_percentage = round(percentage_missing)

In [ ]:
#rounded_percentage

In [61]:
bd_train.tail(50)

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
61985,0,H1CI,8610.0,9/29/2009,4ZHP,5260,CAT2,A,missing,7144.0,...,A,4312.0,FIVQ,WHITE,UT,74142,2004,A,5,4644.0
61986,0,2UUF,10781.0,6/24/2009,9TQI,9400,CAT1,A,missing,9283.0,...,A,8132.0,L6FY,SILVER,FL,89922,2003,A,6,10623.0
61987,0,YBQJ,11184.0,11/10/2010,C8A4,6010,CAT1,B,missing,9663.0,...,A,6221.0,KT8F,WHITE,VA,85244,2007,A,3,8119.0
61988,1,DLFA,15239.0,11/22/2010,ZCI3,7885,CAT3,A,missing,13765.0,...,A,9708.0,UA42,GREY,FL,80945,2007,A,3,10513.0
61989,0,P932,12742.0,11/23/2009,WO6R,9600,CAT2,A,missing,10843.0,...,A,6988.0,JFYD,BLACK,NC,81106,2005,A,4,9395.0
61990,0,QS4E,6143.0,4/22/2009,RRJQ,5430,OTHER,B,missing,5087.0,...,A,4247.0,E75G,WHITE,AZ,24541,2007,B,2,5225.0
61991,1,9S74,6596.0,6/30/2009,ZCI3,8645,OTHER,A,missing,5447.0,...,A,4581.0,8CYB,MAROON,NC,53996,2002,C,7,5644.0
61992,0,CRVM,11902.0,12/2/2009,PRN0,7940,OTHER,A,missing,10308.0,...,A,6737.0,QK88,GREY,TX,69498,2005,C,4,7253.0
61993,0,1PJ4,4171.0,7/16/2009,RRJQ,4200,OTHER,A,missing,3201.0,...,A,2501.0,E75G,SILVER,FL,57397,2004,B,5,3493.0
61994,0,WEGU,8334.0,2/17/2010,ZCI3,6200,CAT3,A,missing,6940.0,...,A,3958.0,L7G9,SILVER,SC,68330,2005,A,5,4982.0
61995,0,7R8J,11528.0,4/15/2010,X7IX,6735,CAT1,B,missing,10985.0,...,A,7553.0,ASW2,SILVER,OK,87330,2008,A,2,8512.0
61996,0,T0CD,12571.0,9/8/2010,X7IX,7660,CAT1,A,missing,10698.0,...,A,6897.0,YAEP,GREY,TX,65837,2006,A,4,8378.0
61997,0,P932,9800.0,11/3/2010,1MJN,8650,CAT2,B,missing,9183.0,...,A,4935.0,AJTU,SILVER,FL,72303,2004,A,6,7826.0
61998,0,K3BB,9484.0,6/15/2010,4ZHP,7485,CAT2,A,missing,8798.0,...,A,4961.0,M81Y,YELLOW,TX,54641,2006,A,4,6043.0
61999,0,11J3,7051.0,8/4/2009,YWK8,7745,OTHER,A,missing,5356.0,...,A,4496.0,1515,BLUE,FL,79210,2004,B,5,6694.0
62000,0,53OG,8987.0,4/9/2009,1PUV,6435,CAT3,A,missing,7547.0,...,A,6525.0,9QMN,GREY,NC,85401,2005,A,4,7858.0
62001,1,AMQS,10149.0,10/14/2010,PRN0,6690,CAT1,A,missing,8960.0,...,A,5697.0,UA42,BLACK,IN,70940,2006,A,4,7060.0
62002,0,HZZU,10393.0,2/19/2009,NYFD,5925,CAT2,A,missing,8639.0,...,A,7536.0,7XTI,SILVER,MS,49138,2006,A,3,8333.0
62003,0,53OG,15304.0,2/25/2009,OZMT,8195,CAT3,A,missing,13416.0,...,A,11959.0,BGXW,GOLD,AZ,71598,2006,A,3,13158.0
62004,1,Y4AM,10809.0,9/28/2010,W3HS,5410,CAT3,B,missing,8287.0,...,A,4504.0,W8B5,WHITE,IL,82860,2006,A,4,5460.0
62005,0,KHJD,13495.0,6/29/2010,IKAF,5845,CAT2,B,missing,11475.0,...,A,7610.0,GR5P,WHITE,TX,93466,2007,A,3,9429.0
62006,0,9O7B,11555.0,11/8/2010,8CYR,7100,OTHER,B,missing,10465.0,...,A,6715.0,3Z1Z,SILVER,NC,73802,2006,OTHER,4,8402.0
62007,0,YBQJ,8079.0,9/9/2010,5GAZ,5480,CAT1,B,missing,6648.0,...,A,3446.0,ONP1,SILVER,CA,70930,2005,A,5,6055.0
62008,0,KAAR,14461.0,4/9/2009,X7IX,8700,CAT1,A,missing,12151.0,...,A,10788.0,ULSL,BLACK,CO,73773,2006,A,3,12927.0
62009,0,QEXX,11708.0,7/19/2010,C8A4,6800,CAT1,B,missing,10620.0,...,A,6667.0,W859,BLUE,NC,82292,2007,A,3,7749.0
62010,0,AU91,6160.0,11/17/2010,LMX8,3950,CAT1,A,missing,5151.0,...,A,2402.0,4BZI,SILVER,FL,87811,2002,A,8,3849.0
62011,1,JAHA,9472.0,4/22/2009,X7IX,8690,CAT1,A,missing,7975.0,...,A,6921.0,K8LM,RED,AZ,54718,2004,A,5,8307.0
62012,0,3RJ4,14624.0,11/23/2010,PRN0,9685,CAT2,B,missing,13210.0,...,A,9529.0,XY55,BLUE,CO,64353,2007,A,3,11602.0
62013,0,V6YZ,13844.0,8/16/2010,RRJQ,6435,OTHER,B,missing,11865.0,...,A,7824.0,KR72,SILVER,NC,82218,2006,B,4,9177.0
62014,1,WCM1,7816.0,3/24/2010,PRN0,5405,CAT1,B,missing,6086.0,...,A,2950.0,96Y6,MAROON,FL,87674,2003,A,7,4952.0
62015,0,7I8M,5775.0,7/2/2009,HE5A,7560,CAT1,A,missing,4391.0,...,A,3603.0,KXVY,YELLOW,GA,69072,2003,A,6,4903.0
62016,0,RZ14,9613.0,4/1/2009,PRN0,7330,CAT1,A,missing,7943.0,...,A,6892.0,FIVQ,BLUE,FL,58039,2006,A,3,8438.0
62017,1,G0KC,8350.0,12/16/2009,PRN0,7100,CAT3,missing,missing,7104.0,...,A,3872.0,GXUO,BLUE,SC,75184,2003,A,6,4879.0
62018,0,3RJ4,14004.0,11/18/2009,PRN0,10200,CAT2,B,missing,12915.0,...,A,8668.0,9PWM,SILVER,FL,43737,2007,A,2,11225.0
62019,0,FV6H,9969.0,8/19/2009,PRN0,5800,OTHER,A,missing,8320.0,...,A,7241.0,ARTJ,SILVER,GA,79703,2006,C,3,8306.0
62020,0,AMQS,11876.0,12/8/2009,PRN0,6035,CAT1,B,missing,10456.0,...,A,6454.0,FIVQ,BLUE,MD,73286,2007,A,2,7449.0
62021,0,AI9N,13657.0,10/22/2009,JD5J,8460,CAT2,A,missing,11506.0,...,A,8229.0,7529,MAROON,SC,85314,2005,A,4,9892.0
62022,0,WEGU,4677.0,11/11/2010,JUNM,4605,CAT3,A,GREEN,4117.0,...,A,1417.0,526I,SILVER,TX,87287,2002,A,8,3028.0
62023,0,K3BB,8840.0,10/5/2010,4ZHP,5385,CAT2,B,GREEN,7758.0,...,A,4408.0,M81Y,WHITE,TX,94138,2005,A,5,5058.0
62024,0,3MP1,12919.0,10/27/2010,C8A4,8545,CAT1,B,GREEN,11056.0,...,A,7489.0,3IAL,WHITE,TN,72984,2006,A,4,10064.0
62025,0,2TEG,7070.0,1/21/2009,C8A4,6670,CAT1,B,missing,5936.0,...,A,5033.0,KT8F,RED,AZ,60707,2006,A,3,6078.0
62026,0,XCOA,10840.0,4/28/2009,WO6R,9180,CAT2,A,missing,9462.0,...,A,8298.0,JFYD,SILVER,FL,86484,2005,A,4,9574.0
62027,0,7IDF,7814.0,2/23/2009,C8A4,5500,CAT1,A,missing,6275.0,...,A,5347.0,K83S,RED,TX,74213,2005,A,4,5513.0
62028,0,7NL9,9657.0,12/10/2009,MCPM,5200,CAT1,B,missing,8431.0,...,A,4929.0,EW79,SILVER,FL,62927,2006,A,3,5529.0
62029,0,7R8J,7867.0,10/6/2010,PRN0,5300,CAT1,B,missing,6978.0,...,A,3881.0,FIVQ,SILVER,NC,79157,2005,A,5,5333.0
62030,1,DPIW,15110.0,3/31/2010,1PUV,8745,CAT3,missing,missing,13468.0,...,A,10012.0,9D54,WHITE,CA,87562,2006,A,4,11162.0
62031,0,YOC7,9456.0,10/20/2010,RRJQ,5360,OTHER,B,missing,8543.0,...,A,5439.0,E75G,GOLD,TN,80201,2007,B,3,6147.0
62032,1,CNKZ,8730.0,5/19/2009,ZCI3,6670,CAT3,A,missing,7217.0,...,A,6219.0,UA42,MAROON,IN,65983,2005,A,4,7620.0
62033,0,RELA,8546.0,4/30/2009,X7IX,6600,CAT1,A,missing,7316.0,...,A,6311.0,ASW2,SILVER,TX,59780,2006,A,3,7450.0
62034,0,DUFA,12658.0,11/3/2010,IKAF,8700,CAT2,B,missing,12002.0,...,A,8930.0,FIVQ,GOLD,OK,38703,2009,A,1,9196.0

In [9]:
# we are going to drop date column 'ListDate', you should extract components 
# from it and use them as features . create cyclic features from cyclic components

In [ ]:
# Create a new DataFrame to store results
results = pd.DataFrame(columns=['State'])

In [65]:
results=pd.DataFrame(bd_test, columns=['State'])

In [66]:
results

      State
0        NC
1        FL
2        OK
3        CO
4        NC
...     ...
10943    OK
10944    TX
10945    VA
10946    NC
10947    GA

[10948 rows x 1 columns]

In [64]:
bd_test['State']

0        NC
1        FL
2        OK
3        CO
4        NC
         ..
10943    OK
10944    TX
10945    VA
10946    NC
10947    GA
Name: State, Length: 10948, dtype: object

In [78]:
target='Junk'

In [79]:
## look at the columns carefully and see what variables are stored as categorical but 
## need to be treated as numeric [PriceIndex8] . And some which are stored as numeric but are representing 
## categorical information [such as Zip]

bd_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62035 entries, 0 to 62034
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Junk                   62035 non-null  int64
 1   InteriorsStyle         62035 non-null  object
 2   PriceIndex8            62035 non-null  object
 3   ListDate               62035 non-null  object
 4   Material               62035 non-null  object
 5   PriceIndex9            62035 non-null  int64
 6   Agency                 62035 non-null  object
 7   AreaIncomeType         62035 non-null  object
 8   EnvRating              62035 non-null  object
 9   PriceIndex7            62035 non-null  object
 10  ExpeditedListing       62035 non-null  int64
 11  PriceIndex4            62035 non-null  object
 12  PriceIndex1            62035 non-null  object
 13  PriceIndex6            62035 non-null  object
 14  PRIMEUNIT              62035 non-null  object
 15  Channel                62035 non-null  object
 16  Zip                    62035 non-null  int64
 17  InsurancePremiumIndex  62035 non-null  int64
 18  PlotType               62035 non-null  object
 19  Architecture           62035 non-null  object
 20  PriceIndex3            62035 non-null  object
 21  Region                 62035 non-null  object
 22  PriceIndex5            62035 non-null  object
 23  SubModel               62035 non-null  object
 24  Facade                 62035 non-null  object
 25  State                  62035 non-null  object
 26  NormalisedPopulation   62035 non-null  int64
 27  BuildYear              62035 non-null  int64
 28  RegionType             62035 non-null  object
 29  PropertyAge            62035 non-null  int64
 30  PriceIndex2            62035 non-null  object
dtypes: int64(8), object(23)
memory usage: 14.7+ MB

In [80]:
bd_train.head()

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,0,6LLJ,14674.0,9/7/2010,UT7W,8270,CAT3,B,missing,13143.0,...,A,9022.0,6E9G,GREEN,MD,42077,2008,A,2,10692.0
1,1,XZ9F,4172.0,1/7/2009,PRN0,3890,CAT2,B,missing,3461.0,...,A,2742.0,FIVQ,SILVER,OK,77258,2002,A,7,3615.0
2,0,QWEV,8210.0,6/23/2010,A9RA,5900,CAT1,B,missing,6922.0,...,A,3768.0,4K0H,SILVER,SC,94514,2004,A,6,5805.0
3,0,MK2K,7309.0,3/19/2009,RRJQ,7460,OTHER,A,missing,6300.0,...,A,5370.0,ZLXY,WHITE,NC,82302,2002,C,7,6444.0
4,0,GK4G,9182.0,3/3/2010,HE5A,6400,OTHER,B,missing,8330.0,...,A,4803.0,FIVQ,SILVER,SC,49176,2007,B,3,6286.0

In [81]:
cat_to_numeric=['PriceIndex'+str(i) for i in range(1,10)]

In [82]:
bd_train['data']='train'
bd_test['data']='test'

all_data=pd.concat([bd_train,bd_test],axis=0,sort=False)

In [83]:
all_data.isnull().sum()

Junk                     10948
InteriorsStyle               0
PriceIndex8                  0
ListDate                     0
Material                     0
PriceIndex9                  0
Agency                       0
AreaIncomeType               0
EnvRating                    0
PriceIndex7                  0
ExpeditedListing             0
PriceIndex4                  0
PriceIndex1                  0
PriceIndex6                  0
PRIMEUNIT                    0
Channel                      0
Zip                          0
InsurancePremiumIndex        0
PlotType                     0
Architecture                 0
PriceIndex3                  0
Region                       0
PriceIndex5                  0
SubModel                     0
Facade                       0
State                        0
NormalisedPopulation         0
BuildYear                    0
RegionType                   0
PropertyAge                  0
PriceIndex2                  0
data                         0
dtype: int64

In [84]:
bd_test

,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,ExpeditedListing,...,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2,data
0,6LLJ,10645.0,9/22/2010,ZCI3,6015,CAT3,A,missing,9568.0,0,...,5911.0,UA42,BLUE,NC,67549,2006,A,4,8311.0,test
1,QD0H,9891.0,3/12/2010,RRJQ,7625,OTHER,A,missing,8888.0,0,...,5370.0,BUNS,BLUE,FL,56570,2004,B,6,7123.0,test
2,I7GR,8426.0,10/12/2009,ZCI3,6900,CAT2,B,missing,7911.0,0,...,6862.0,8YTZ,BLACK,OK,51840,2008,A,1,7994.0,test
3,5KS5,9269.0,5/20/2010,PRN0,6475,CAT1,B,missing,7773.0,0,...,4872.0,FIVQ,GREEN,CO,83300,2005,A,5,5259.0,test
4,918O,5366.0,1/13/2009,C8A4,3960,CAT1,A,missing,4134.0,0,...,3365.0,KT8F,BLACK,NC,95035,2003,A,6,4362.0,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10943,DYK9,13956.0,10/26/2009,PRN0,7500,CAT2,B,missing,12860.0,0,...,8879.0,DZ5Y,BLUE,OK,51629,2008,A,1,9181.0,test
10944,GK4G,7880.0,9/28/2010,HE5A,5425,OTHER,B,missing,6845.0,0,...,3594.0,6E9G,BLUE,TX,69990,2006,B,4,5185.0,test
10945,6LLJ,16417.0,11/18/2009,2NHM,7700,CAT3,A,missing,14663.0,0,...,10424.0,UTUM,GREY,VA,73737,2007,A,2,12088.0,test
10946,2XWO,11311.0,12/6/2010,NYFD,6300,CAT2,A,missing,10292.0,0,...,6755.0,Y29N,WHITE,NC,85960,2007,A,3,7978.0,test
10947,38WH,4657.0,8/12/2009,ZCI3,5000,CAT2,A,missing,3524.0,0,...,2800.0,FIVQ,GOLD,GA,69307,2004,A,5,3447.0,test

In [85]:
for col in cat_to_numeric:
    all_data[col]=pd.to_numeric(all_data[col],errors='coerce')
    all_data[col]=all_data[col].fillna(all_data.loc[all_data['data']=='train',col].median())

In [86]:
#median_property_age_by_state = bd_train.groupby('State')['PropertyAge'].median()

In [87]:
#state_with_highest_median_age = median_property_age_by_state.idxmax()
#print(state_with_highest_median_age)

In [88]:
# Calculate the range of PriceIndex8
#range_price_index8 = all_data['PriceIndex8'].max() - all_data['PriceIndex8'].min()

#print(range_price_index8)

In [89]:
#variance_price_index1 = all_data['PriceIndex1'].var()
#rounded_variance = int(round(variance_price_index1))
#print(rounded_variance)

In [90]:
# Filter the data for the specified Architecture code
#filtered_data = all_data[all_data['Architecture'] == 'YIK5']

In [91]:
# Calculate the average NormalisedPopulation for the filtered data
#average_normalized_population = filtered_data['NormalisedPopulation'].mean()

In [92]:
# Round the average and convert to an integer
#rounded_average = int(round(average_normalized_population))
#rounded_average

In [93]:
#filtered_data

In [94]:
cat_cols=['InteriorsStyle', 'ListDate', 'Material', 'Agency', 'AreaIncomeType',
       'EnvRating', 'PRIMEUNIT', 'Channel', 'PlotType', 'Architecture',
       'Region', 'SubModel', 'Facade', 'State', 'RegionType','Zip']

In [95]:
for col in cat_cols:
    k=all_data[col].value_counts()
    cats=k[k>=1000].index[:-1]
    
    for cat in cats:
        name=col+'_'+str(cat)
        all_data[name]=(all_data[col]==cat).astype(int)
        
    del all_data[col]
# you can try more lenient frequency cutoff , which will ofcourse

In [96]:
all_data.shape

(72983, 125)

In [97]:
all_data[[target, 'data']].head(50)

    Junk   data
0    0.0  train
1    1.0  train
2    0.0  train
3    0.0  train
4    0.0  train
5    0.0  train
6    0.0  train
7    0.0  train
8    1.0  train
9    0.0  train
10   0.0  train
11   0.0  train
12   1.0  train
13   0.0  train
14   0.0  train
15   0.0  train
16   0.0  train
17   0.0  train
18   0.0  train
19   0.0  train
20   0.0  train
21   0.0  train
22   0.0  train
23   0.0  train
24   1.0  train
25   0.0  train
26   1.0  train
27   0.0  train
28   1.0  train
29   0.0  train
30   0.0  train
31   0.0  train
32   0.0  train
33   0.0  train
34   0.0  train
35   0.0  train
36   1.0  train
37   0.0  train
38   0.0  train
39   0.0  train
40   1.0  train
41   0.0  train
42   0.0  train
43   1.0  train
44   0.0  train
45   0.0  train
46   0.0  train
47   0.0  train
48   0.0  train
49   0.0  train

In [98]:
x_train=all_data.drop([target,'data'],axis=1)[all_data['data']=='train']
y_train=all_data[target][all_data['data']=='train']
x_test=all_data.drop([target,'data'],axis=1)[all_data['data']=='test']
#y_test=all_data[target][all_data['data']=='test']

In [99]:
#percentage_missing = (missing_values_count / total_rows) * 100
#rounded_percentage = round(percentage_missing)

In [100]:
x_train

,PriceIndex8,PriceIndex9,PriceIndex7,ExpeditedListing,PriceIndex4,PriceIndex1,PriceIndex6,InsurancePremiumIndex,PriceIndex3,PriceIndex5,...,Zip_76040,Zip_77041,Zip_78754,Zip_80011,Zip_73108,Zip_28625,Zip_91752,Zip_78219,Zip_30272,Zip_32124
0,14674.0,8270,13143.0,0,14224.0,9217.0,10387.0,623,13108.0,9022.0,...,0,0,0,0,0,0,0,0,0,0
1,4172.0,3890,3461.0,0,4404.0,2958.0,3400.0,1689,3695.0,2742.0,...,0,0,0,0,0,0,0,0,0,0
2,8210.0,5900,6922.0,0,8952.0,4568.0,4862.0,2351,7730.0,3768.0,...,0,0,0,0,0,0,0,0,0,0
3,7309.0,7460,6300.0,0,7460.0,5361.0,6305.0,1933,6290.0,5370.0,...,0,0,0,0,0,0,0,0,0,0
4,9182.0,6400,8330.0,0,9846.0,5428.0,5718.0,482,8583.0,4803.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62030,15110.0,8745,13468.0,0,15279.0,9584.0,11626.0,1893,13858.0,10012.0,...,0,0,0,0,0,0,0,0,0,0
62031,9456.0,5360,8543.0,0,9420.0,5187.0,6683.0,594,8600.0,5439.0,...,0,0,0,0,0,0,0,0,0,0
62032,8730.0,6670,7217.0,0,8730.0,6219.0,7620.0,1313,7217.0,6219.0,...,0,0,0,0,0,0,0,0,0,0
62033,8546.0,6600,7316.0,0,8546.0,6311.0,7450.0,837,7316.0,6311.0,...,0,0,0,0,0,0,0,0,0,0
62034,12658.0,8700,12002.0,0,13558.0,8698.0,9514.0,762,12824.0,8930.0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
x_test

,PriceIndex8,PriceIndex9,PriceIndex7,ExpeditedListing,PriceIndex4,PriceIndex1,PriceIndex6,InsurancePremiumIndex,PriceIndex3,PriceIndex5,...,Zip_76040,Zip_77041,Zip_78754,Zip_80011,Zip_73108,Zip_28625,Zip_91752,Zip_78219,Zip_30272,Zip_32124
0,10645.0,6015,9568.0,0,12432.0,6986.0,7133.0,728,10860.0,5911.0,...,0,0,0,0,0,0,0,0,0,0
1,9891.0,7625,8888.0,0,12173.0,5954.0,6544.0,1334,10166.0,5370.0,...,0,0,0,0,0,0,0,0,0,0
2,8426.0,6900,7911.0,0,9134.0,7407.0,7339.0,754,8500.0,6862.0,...,0,0,0,0,0,0,0,0,0,0
3,9269.0,6475,7773.0,0,8500.0,4241.0,6143.0,1373,7294.0,4872.0,...,0,0,0,0,0,0,0,0,0,0
4,5366.0,3960,4134.0,0,5211.0,3352.0,4506.0,2939,4120.0,3365.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10943,13956.0,7500,12860.0,0,10415.0,8497.0,9703.0,920,9677.0,8879.0,...,0,0,0,0,0,0,0,0,0,0
10944,7880.0,5425,6845.0,0,8521.0,3739.0,4716.0,533,6860.0,3594.0,...,0,0,0,0,0,0,0,0,0,0
10945,16417.0,7700,14663.0,0,13555.0,10199.0,11939.0,803,11515.0,10424.0,...,0,0,0,0,0,0,0,0,0,0
10946,11311.0,6300,10292.0,0,11733.0,6735.0,8075.0,983,10475.0,6755.0,...,0,0,0,0,0,0,0,0,0,0
10947,4657.0,5000,3524.0,0,4223.0,2547.0,3849.0,1020,3251.0,2800.0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
y_train

0        0.0
1        1.0
2        0.0
3        0.0
4        0.0
        ...
62030    1.0
62031    0.0
62032    1.0
62033    0.0
62034    0.0
Name: Junk, Length: 62035, dtype: float64

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
# Split the data into training and testing sets
x_train1, x_test1, y_train1, y_test1 = train_test_split(x_train, y_train, test_size=0.2, random_state=42)

In [105]:
from sklearn.preprocessing import StandardScaler

In [134]:
# Standardize features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(x_train1)
X_test_scaled = scaler.transform(x_test1)
x_test_scaled = scaler.transform(x_test)

In [107]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV

In [108]:
params={'penalty':['l1','l2'],'class_weight':['balanced',None],
        'C':np.linspace(0.00001,1,100)}

In [109]:
model=LogisticRegression(C=0.0001, solver='liblinear', max_iter=10)

# tune more complex algos for improving performance

In [110]:
rs=RandomizedSearchCV(model,param_distributions=params,n_iter=10,
                      scoring='roc_auc',cv=10,n_jobs=-1,verbose=20)

In [111]:
rs.fit(X_train_scaled,y_train1)

# this takes quite awhile to run on my machine , more complex algos 
# are going to take much more time , couple hrs may be for parameter tuning 
# do preliminary feature selection first a simple random forest and then do parameter tuning

Fitting 10 folds for each of 10 candidates, totalling 100 fits

RandomizedSearchCV(cv=10,
                   estimator=LogisticRegression(C=0.0001, max_iter=10,
                                                solver='liblinear'),
                   n_jobs=-1,
                   param_distributions={'C': array([1.00000000e-05, 1.01109091e-02, 2.02118182e-02, 3.03127273e-02,
       4.04136364e-02, 5.05145455e-02, 6.06154545e-02, 7.07163636e-02,
       8.08172727e-02, 9.09181818e-02, 1.01019091e-01, 1.11120000e-01,
       1.21220909e-01, 1.31321818e-01, 1.4...
       8.08082727e-01, 8.18183636e-01, 8.28284545e-01, 8.38385455e-01,
       8.48486364e-01, 8.58587273e-01, 8.68688182e-01, 8.78789091e-01,
       8.88890000e-01, 8.98990909e-01, 9.09091818e-01, 9.19192727e-01,
       9.29293636e-01, 9.39394545e-01, 9.49495455e-01, 9.59596364e-01,
       9.69697273e-01, 9.79798182e-01, 9.89899091e-01, 1.00000000e+00]),
                                        'class_weight': ['balanced', None],
                                        'penalty': ['l1', 'l2']},
                   scoring='roc_auc', verbose=20)

In [112]:
y_pred=rs.predict_proba(X_test_scaled)

In [113]:
y_pred

array([[0.7913272 , 0.2086728 ],
       [0.40061178, 0.59938822],
       [0.88670006, 0.11329994],
       ...,
       [0.31902001, 0.68097999],
       [0.23985601, 0.76014399],
       [0.36967319, 0.63032681]])

In [114]:
y_test1

58804    0.0
60083    0.0
46821    0.0
48493    0.0
9792     0.0
        ...
19401    0.0
4280     1.0
53792    1.0
46061    1.0
47213    1.0
Name: Junk, Length: 12407, dtype: float64

In [115]:
from sklearn.metrics import roc_auc_score

In [116]:
# Calculate the ROC AUC score
roc_auc = roc_auc_score(y_test1,  y_pred[:, 1])

In [117]:
roc_auc

0.7655832875881197

In [135]:
y_pred1=rs.predict_proba(x_test_scaled)

In [137]:
y_pred1

array([[0.64195032, 0.35804968],
       [0.45709075, 0.54290925],
       [0.87224053, 0.12775947],
       ...,
       [0.72595617, 0.27404383],
       [0.49320572, 0.50679428],
       [0.56260421, 0.43739579]])

In [155]:
y_pred1.mean()

0.5

In [121]:
bd_test['State']=results['State']

In [150]:
results['Junk']=y_pred1[:, 1]

In [151]:
results

      State      Junk
0        NC  0.358050
1        FL  0.542909
2        OK  0.127759
3        CO  0.394419
4        NC  0.569414
...     ...       ...
10943    OK  0.112697
10944    TX  0.580188
10945    VA  0.274044
10946    NC  0.506794
10947    GA  0.437396

[10948 rows x 2 columns]

In [152]:
submissions=pd.DataFrame(results)

In [153]:
submissions

      State      Junk
0        NC  0.358050
1        FL  0.542909
2        OK  0.127759
3        CO  0.394419
4        NC  0.569414
...     ...       ...
10943    OK  0.112697
10944    TX  0.580188
10945    VA  0.274044
10946    NC  0.506794
10947    GA  0.437396

[10948 rows x 2 columns]

In [154]:
submissions.to_csv('NidhiSharma_submission_Project5.csv',index=False)